* {
  /* outline: red 1px solid; */
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;
  grid-template-areas: "aside main";
}

aside {
  grid-area: aside;
  background-color: #ddebff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
ul li {
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
ul li:hover {
  cursor: pointer;
  background-color: lightgray;
}
ul li p {
  margin: 0;
  margin-left: 10px;
}

main {
  padding: 5% 10%;
}

.task {
  border-bottom: lightgray 1px solid;
  padding: 10px;
}
#form {
  /* outline: red 1px solid; */
  width: 100%;
  display: none;
  padding-top: 0;
  transition: display 0.5s;
  margin: 10px 0;
}
#form * {
  margin: 5px 0;
}
input[type="text"] {
  width: 100%;
  display: block;
  border-radius: 5px;
  border-style: solid;
  padding: 5px;
}
select {
  padding: 5px;
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  width: 70px;
}
#due-date {
  width: 100px;
  display: inline;
}
form button {
  display: inline;
}
button {
  background: none;
  border: lightgray 1px solid;
  border-radius: 5px;
  padding: 5px;
}
button:hover {
  cursor: pointer;
  background-color: lightgray;
  color: black;
}

svg {
  width: 20px;
  height: 20px;
  padding: 0;
}
